
.small-input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-group {
    margin-bottom: 2.5rem;
}
.small-input-container.check {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.check input {
    margin: 10px 30px 10px 8px;
}

.button-center  {
    text-align: center;
}

.local-form-col-new-event {
    padding: 5%;
    background-color: white

}

.local-form-col-new-event h1{
    text-align:center
}