.auth-container {
    min-height: 81.6vh;
    background-color:#F4F7F6;
}

.auth-form {
    background-color: white;
    text-align: center;
    padding: 3%;
    margin-top: 5%;

    
}

.container h3 {
    text-align: center;
    font-size: 2.2em
}

.check {
    text-align: center;
    font-size: 1.1em
}

.button{
    font-size: 1em
}