.container {
    /* margin-top: 100px; */
    min-height: 81.7vh;
}

.container h3 {
    text-align: center;
    font-size: 2.2em
}

.check {
    text-align: center;
    font-size: 1.1em
}

.button{
    font-size: 1em
}