/* .offer-Card img {
    width: 150px;
    border-radius: 50%;
    margin-left: 40px;
} */
.offer-row{
    padding: 15px;
    display: flex;
    width: 100%;
    background-color: white;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DFDFDF;
    margin-left: 150px;
    margin-right: 150px;
}

.offer-det{
    text-align: center
}

.offer-Card{
    display: flex;
    align-items: center;
}

.avatar{
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 80px;

}

.avatar img{
   height: 100%;
   object-fit: cover

}