/* .offer-Card img {
    width: 150px;
    border-radius: 50%;
    margin-left: 40px;
} */
.offer-row{
    padding: 15px;
    display: flex;
    width: 100%;
    background-color: white;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DFDFDF;
    margin-left: 9rem;
    margin-right: 9rem;
 
}

.offer-det{
    text-align: center
}

.offer-Card{
    display: flex;
    align-items: center;
}

.avatar{
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 6rem;

}

.avatar img{
   height: 100%;
   object-fit: cover;

}

.offer-title{
    margin-left: 9rem;
    margin-right: 9rem;
}

.offer-title p{
    font-size: 1.2rem;
    margin-left:5rem
}

.offers{
    padding-bottom: 6rem;
}

.offer-Card span{
    margin-left: 2rem
}