.main-cont{
    margin-top: 0;
    background-color: #F4F7F6;
    min-height: 81.6vh;
    
}

.main-cont h1{
    margin-bottom: 20px;
}

.content{
    margin-top: 100px;
    margin-bottom: 35px;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: -40px -40px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: -40px -40px 0px 0px rgba(0,0,0,1);
    box-shadow: -40px -40px 0px 0px rgba(0,0,0,1);
    padding: 50px;

}

.content hr{
    width: 70%
}

.content img{
    width: 100%
}

.img-local{
    width: 75%;
    display: flex;  
    align-items: center
}
.local-btn{
    padding: 30px;
}