.main-cont{
    margin-top: 0;
    background-color: #F4F7F6;
    min-height: 81.6vh;
    
}

.main-cont h1{
    margin-bottom: 20px;
}

.content{
    margin-top: 100px;
    margin-bottom: 35px;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: -40px -40px 0px 0px #434343;
    -moz-box-shadow: -40px -40px 0px 0px #434343;
    box-shadow: -40px -40px 0px 0px #434343;
    padding: 50px;

}

.content hr{
    width: 70%
}

.content img{
    width: 100%
}

.img-local{
    display: flex;  
    align-items: center;
    justify-content: left;
    margin-top: 50px;

}

.img-local img{
    -webkit-box-shadow: 200px 3px 0px 50px rgba(187,226,223,1);
-moz-box-shadow: 200px 3px 0px 50px rgba(187,226,223,1);
box-shadow: 200px 3px 0px 50px rgba(187,226,223,1);
    width: 80%;
}

.local-btn{
    padding: 30px;
}
.small-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    object-fit: contain;
    padding:10px;
    margin: 0;
    background-color: #49C5B6;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid #fff
}
.big-icon img {
    cursor: pointer;
}
.small-icon img {
    cursor: pointer;
}
.big-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #49C5B6;
    padding: 10px 40px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid #fff
}
.container-icon-img-travel {
    display: flex;
}
.big-icon img {
    height: 20px;
    width: 22px;
}
.big-icon.inactive, .small-icon.inactive {
    background-color: #9fd0ca;
}
.container-icon-img-travel.col {
    display: flex;
    justify-content: center;
    margin-top: 30px
}