.main-cont{
    margin-top: 0;
    background-color: #F4F7F6;
    min-height: 81.6vh;
    
}

.main-cont h1{
    margin-bottom: 20px;
}

.content{
    margin-top: 100px;
    margin-bottom: 35px;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: -40px -40px 0px 0px #434343;
    -moz-box-shadow: -40px -40px 0px 0px #434343;
    box-shadow: -40px -40px 0px 0px #434343;
    padding: 50px;

}

.content hr{
    width: 70%
}

.content img{
    width: 100%
}

.img-local{
    display: flex;  
    align-items: center;
    justify-content: left;
    margin-top: 50px;

}

.img-local img{
    -webkit-box-shadow: 200px 3px 0px 50px rgba(187,226,223,1);
-moz-box-shadow: 200px 3px 0px 50px rgba(187,226,223,1);
box-shadow: 200px 3px 0px 50px rgba(187,226,223,1);
    width: 80%;
}
.local-btn{
    padding: 30px;
}