.hero {
    background-image: url("./backgroud-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 83.85vh
}
.title {
    margin-top: 270px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: white;
    font-size: 5em;
    width: 100%;

}
.footer-text {
    color: #fff;
    margin-bottom: 0;
}
.bottom-message {
    padding-top: 7%;
    padding-left: 23%;
    display: flex;
    align-items: center;
    margin-left: 50%;
    justify-content: right;
}


