.general-info {
    text-align: center;
    margin-top: 100px;
}

.contact {
    list-style: none;
    display: flex;
    justify-content: center;
}

.cont{
    margin-top: 25px;
}

.button{
    font-size: 1.2em,
}

.contact li{
    margin-right: 10px;
}

.desc-cont {
    margin: 50px 0;
}

.local-section h3{
    margin: 80px 50px 20px
}

.fac-sev{
    margin: 20px 0 15px 0
}

.local{
    margin-bottom: 15px
}

.local-btn{
    margin-bottom: 25px;
}
.small-icon {
    width: 25px; 
    margin: 0 10px 0 20px;
}