body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}
.btn.btn-primary {
    background-color:transparent;
    border-color: #49C5B6;
    border-radius: 18px / 50%;
    padding: .22rem .75rem;
    margin: 5px 10px; 
    font-size: 0.9em;
    transition: all 0.6s;
    color: #49C5B6;
}
.btn.btn-white {
    background-color:transparent;
    border-color: white;
    border-radius: 18px / 50%;
    padding: .5rem 2rem;
    margin: 5px 10px; 
    font-size: 0.9em;
    transition: all 0.6s;
    color: white;
}
.btn.btn-white:hover {
    color: #49C5B6;
     border-color: #49C5B6;
}
.btn.btn-primary.large {
    padding: .5rem 2rem;
}
.btn.btn-grey {
    background-color:transparent;
    border-color: rgb(166, 168, 165);
    border-radius: 18px / 50%;
    padding: .22rem .75rem;
    margin: 5px 5px; 
    font-size: 0.9em;
    transition: all 0.6s;
    color: black;
    font-weight: 100;
    font-size: 0.8em;
}
.btn.btn-danger {
    background-color:transparent;
    border-color: #dc3545;
    border-radius: 18px / 50%;
    padding: .22rem .75rem;
    margin: 5px 10px; 
    font-size: 0.9em;
    transition: all 0.6s;
    color: #dc3545;
}
.btn.btn-danger:hover {
    background-color: #dc3545;
    color: white;
}
.errorMsg {
    color:#dc3545;
}
.btn.btn-primary:hover {
    background-color: #49C5B6;
    color: white;
}
@media (min-width: 768px) {
.col-md-4 {
    padding: 15px 15px;
}
}
.card {
    max-width: 95%;
    text-align: center;
    align-items: center;
    word-wrap: break-word;
    border: none;
}
.color-text {
    color: #49C5B6;
    font-weight: 400;
    
}
.color-text-black {
    color: #000;
    font-weight: 400;
    
}
main {
    padding-top: 100px;
    min-height: 100vh


}
.white-form {
    padding: 50px 50px;
    background-color: white;
    margin-bottom: 100px;
}
.main-bg {
    background-color: #F4F7F6;
    display: flex;
    justify-content: center;
}
.big-title {
    width: 100%;
    color: black;
    text-align: center;
}
.btn.btn-dark {
    background-color: #000;
    border-radius: 0;
    margin: 20px 10px;
    padding: 15px 35px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.9em;
    transition: all 0.5s;
}
.btn.btn-dark:hover {
    background-color: #222;
    font-weight: bold;
}
.form-control {
    border-radius: 0;
}